body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
/* Header */
#header {
    max-width: 1440px;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navlink signup";
}
.logoReservia {
    grid-area: logo;
    padding: 0 32px;
}
.headerNav {
    grid-area: navlink;
    display: flex;
    align-items: center;
}
.navLinkHeader {
    padding: 32px;
    text-align: center;
    font-weight: 500;
}
.navLinkHeader.selected {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.linkSignUp {
    grid-area: signup;
    padding: 32px;
    color: #0065FC;
    font-weight: bold;
}

/* ///////////////////// media queries Header ////////////// */
@media screen and (max-width: 600px) {
    #header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . signup" 
                           "navlink navlink navlink";
    }
    .navLinkHeader {
       width: 50%;
    }
    .navLinkHeader.selected{
      border-top: none;
      border-bottom: 3px solid #0065FC;
      
    }
    .navLinkHeader {
        border-bottom: 3px solid #f2f2f2;
        color: black;
    }
}


#main {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 32px;
}
/* Section Research */
.titleHeader {
    margin-bottom: 8px;
}
.subtitle {
    margin-top: 0;
}
.searchBar {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}
.searchBarIcon {
    background-color: #f2f2f2;
    padding: 16px 20px;
    border-radius: 16px 0 0 16px;
}
.searchIconBar {
    margin-left: 3px;
}
.searchInput {
    font-size: 16px;
    border-right: none;
    border-left: none;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    padding: 0 24px;
    width: 220px;
}
.searchInput::placeholder {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#btnSearch {
    border: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0 16px 16px 0;
    padding: 0 22px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
#searchIcon {
    display: none;
}
#searchLabel{
    display: inline;
} 

/* ///////////////// Media queries Research /////////////////// */
@media screen and (max-width: 600px) {
    .titleHeader {
        font-size: 22px;
    }
    .searchBar {
      display:flex;
      width: 100%;
      margin-top: 24px;
    }
    .searchInput {
      flex-grow: 1;
    }
    #btnSearch {
      border-radius: 16px;
    }
    #searchLabel {
      display: none;
    }
    #searchIcon {
      display: block;
    }
}
  @media screen and (max-width:450px) {
    .searchInput {
      width: 190px;
    }
    #searchTitle {
        margin-top: 30px;
    }
    .subtitle {
        margin-bottom: 30px;
    }
}

/* filters */
.filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}
.titleFilter {
    margin: 0 32px 16px 0;
    display: flex;
    align-items: center;
}
.searchFilters {
    font-weight: bold;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-right: 32px;
    margin-bottom: 16px;
    cursor: pointer;
}
.searchFilters:hover {
    background-color: #d7dce4;
    transform: scale(1.05);
}
.searchFilterContain {
   background-color: #DEEBFF;
   width: 48px;
   height: 48px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: -2px;
}
.iconFont {
    color: #0065FC;
    font-size: 18px;
}
.textFilter {
    margin: 0 16px;
}
.infoTxt {
    display: flex;
    align-items: center;
    margin: 16px 0 32px 0;
}
.infoIcon {
    border:2px solid #e6e6e6;
    width: 26px;
    height: 26px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchInfoIcon {
    color: #0065FC;
}
.nbLogements {
    margin-left: 20px;
}
/* ///////////////// media queries filters //////////////// */
@media screen and (max-width: 650px) {
    .titleFilter {
        width: 100%;
        font-size: 1.3rem; 
     }
     .searchFilters {
        margin-right: 8px;
     }
    .textFilter {
        margin: 0 11.2px;
     }
    
}
@media screen and (max-width: 475px) {
    .searchInfoIcon {
        padding: 10px;
    }
    .nbLogements {
        font-size: 13px;
    }
    .iconFont {
        font-size: 16px;
    }
}

/*  Section Accomodation */
#accomodation {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 32px;
}
.accomodationMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    padding: 32px;
    background-color: #f2f2f2;
    border-radius: 32px;
}
.titleAcc {
    grid-column: 1 / -1;
}
.titleAccomodation {
    margin: 0;
}
.hotelCard {
    background-color: white;
    border-radius: 24px;
    box-sizing: border-box;
    padding: 6px;
    height: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.hotelCard:hover {
    transform: scale(1.02);
}
.hotelCardFigure {
    margin: 0;
}
.hotelCardFigureImg {
    height: 112px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.hotelCardFigcaption {
    margin: 10px 0 0px 12px;
    font-weight: bold;
}
.infoPrice {
    margin: 10px 0 0 12px;
}
.hotelCardStar {
    margin: 5px 0 0 12px;
}
.accomodationMainStarIcon.filled {
    color: #0065FC;
}
.accomodationMainStarIcon {
    color: #d9d9d9;
}
.accViewMore {
    font-weight: bold;
}
/* accPopular */
#accPopular {
    background-color: #f2f2f2;
    padding: 32px;
    border-radius: 32px;
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
    row-gap: 32px;
}
.accPopularTiltle {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.accPopularCard {
    box-sizing: border-box;
    background-color: white;
    border-radius: 16px;
    padding: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 100%;
}
.accPopularCard:hover {
    transform: scale(1.02); 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} 
.accPopularContent {
    display: flex;
    height: 100%;
    overflow: auto;
}
.accPopularContentImg {
    position: relative;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    min-height: 100%;
}
.imgPopularContent {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px 0 0 16px;
    object-fit: cover;
}
.contentAside {
    display: flex;
    flex-direction: column;
}
.titlecontentAside {
    margin: 4px 10px 4px 14px;
    font-size: 1.1rem; 
}
.title {
    width: 88%;    
}
.textcontentAside {
   margin: 4px 10px 0px 14px;
}
.separator {
flex-grow: 1;
}
.hotelCardStar {
    margin: 0px 10px 4px 14px;
}

/* ////////////// media queries Accomodation ////////////// */
@media (max-width: 1200px) {
    #accomodation {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
    #accPopular {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 160px;
        column-gap: 2rem;
        grid-row-start: 1; 
    }
    .accPopularTiltle {
        grid-column: 1/-1; 
    }
}
@media (max-width: 992px) {
    #accPopular {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 144px); 
    }
}
@media (max-width: 992px) and (min-width: 660px) {
    .accomodationMain {
        grid-template-columns: 1fr 1fr; 
    }
    .title {
        width: 100%; 
    }
}
  @media (max-width: 660px) {
    .accomodationMain {
      grid-template-columns: 1fr;
      background-color: white; 
    }
    .accViewMore {
        font-size: 1.2rem; 
    }
}

@media screen and (max-width:450px) {
    .accomodationMain {
        padding: 0;
        grid-gap: 24px;  
    }
    .accPopularCard {
        padding: 4px; 
    }
    #accPopular {
        padding: 8px 13px 24px 13px;
        border-radius: 0;
        row-gap: 1.2rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 128px) !important;
    }
    .accPopularTiltle {
        font-size: 1.2rem;
        margin-top: 16px; 
    }
    .accPopularContentImg {
        width: 40%;
        min-width: 40%;
        max-width: 40%; 
    }
    .titlecontentAside {
        font-size: 14px; 
    }
    .textcontentAside {
        font-size: 12px; 
    }
    .titleAccomodation {
        font-size: 20px;
    }
    .infoPrice{
        margin: 5px 12px;  
    }
    .hotelCard {
        box-shadow: 0px 0px 6px 0px #0000002e
    }
}

/*  Section Activities */
#activities {
    display: grid;
    column-gap: 32px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.titleActivities {
    grid-column: 1 / -1;
}
.activitiesCard {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 16px;
    display: flex;
    flex-direction: column; 
}
.activitiesCard:hover {
    transform: scale(1.1);
  }
.activitiesContent {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
}
.activitiesContentImg {
    object-fit: cover;
    margin: 0;
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 100%;
}
.activitiesCardTitle {
    margin: 19px 24px;
    background-color: white;
}

/* ////////////// media queries Activities ////////////////////// */
@media screen and (min-width: 1101px) {
    #activities {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 224px repeat(3, 32px) 224px;
    }
    .Card1 {
        grid-row: 2 / 7;
        grid-column: 1/ 2;
    }
    .Card2 {
        grid-row: 2 / 5;
        grid-column: 2 / 3;
    }
    .Card3 {
        grid-row: 6 / 7;
        grid-column: 2 / 3;

    }
    .Card4 {
        grid-row: 2 / 7 ;
        grid-column: 3 / 4;
    }
    .Card5 {
        grid-row: 2 / 3;
        grid-column: 4/ 5;
        
    }
    .Card6 {
        grid-row: 4 / 7 ;
        grid-column: 4/ 5;
    }
}
@media screen and (max-width: 1100px) {
    #activities {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, 208px);
        row-gap: 32px;
    }
} 
@media screen and (max-width: 992px) {
    #activities {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto repeat(3, 208px); 
      row-gap: 32px;
  }
} 
@media screen and (max-width: 576px) {
    #activities {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(6, 192px);
        row-gap: 32px;
  }
} 

/* Footer */
#footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f2f2f2;
}
.footerCol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 78%;
    padding-top: 32px;
    padding-bottom: 16px;
}
.footerColContent{
    display: flex;
    flex-direction: column;
}
.footerColContentLink {
    margin: 8px 0;
}
/* /////////// media queries Footer //////////// */
@media (max-width: 768px) {
    .footerCol {
        flex-direction: column;
        padding: 32px;
        text-align: center;
    }
    .footerColContent {
        width: 100%;
        padding: 0;
        margin: 16px 0;
    }
    .footerColContent:first-child {
      margin-top: 0;
    }
    .footerColContent:last-child {
      margin-bottom: 0;
    }
    .footerColContentTitle {
      margin: 0;
      padding-top: 13px;
      padding-bottom: 13px;
    }
    .footerColContentLink:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 576px) {
      .footerCol {
          text-align:left;
      }
  }