body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
#header {
    max-width: 1440px;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navlink signup";
}
.logoReservia {
    grid-area: logo;
    padding: 0 32px;
}
.headerNav {
    grid-area: navlink;
    display: flex;
    align-items: center;
}
.navLinkHeader {
    padding: 32px;
    text-align: center;
    font-weight: 500;
}
.navLinkHeader.selected {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.linkSignUp {
    grid-area: signup;
    padding: 32px;
    color: #0065FC;
    font-weight: bold;
}

/* media queries Header */
@media screen and (max-width: 600px) {
    #header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . signup" 
                           "navlink navlink navlink";
    }
    .navLinkHeader {
       width: 50%;
    }
    .navLinkHeader.selected{
      border-top: none;
      border-bottom: 3px solid #0065FC;
      
    }
    .navLinkHeader {
        border-bottom: 3px solid #f2f2f2;
        color: black;
    }
}


#main {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 32px;
}
.titleHeader {
    margin-bottom: 8px;
}
.subtitle {
    margin-top: 0;
}
.searchBar {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}
.searchBarIcon {
    background-color: #f2f2f2;
    padding: 16px 20px;
    border-radius: 16px 0 0 16px;
}
.searchIconBar {
    margin-left: 3px;
}
.searchInput {
    font-size: 16px;
    border-right: none;
    border-left: none;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    padding: 0 24px;
    width: 220px;
}
.searchInput::placeholder {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#btnSearch {
    border: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0 16px 16px 0;
    padding: 0 22px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
#searchIcon {
    display: none;
}
#searchLabel{
    display: inline;
} 

/* Media queries Research */
@media screen and (max-width: 600px) {
    .titleHeader {
        font-size: 22px;
    }
    .searchBar {
      display:flex;
      width: 100%;
      margin-top: 24px;
    }
    .searchInput {
      flex-grow: 1;
    }
    #btnSearch {
      border-radius: 16px;
    }
    #searchLabel {
      display: none;
    }
    #searchIcon {
      display: block;
    }
}
  @media screen and (max-width:450px) {
    .searchInput {
      width: 190px;
    }
    #searchTitle {
        margin-top: 30px;
    }
    .subtitle {
        margin-bottom: 30px;
    }
}